<div class="container-fluid">
    <div class="row" style="margin-top: 2rem;">
      <div class="col col-md-2">
        <h4 class="display-5">TAIRRA</h4>
      </div>
      <div class="col-md-8" style="background-color: #efefef45;">
        <div class="row justify-content-md-center">
          <div class="col col-lg-3">
            <!-- <div class="card"> -->
                <!-- <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/5732d16956595e4ac8d5eefe4f30cfb3f56f6b281d55dd9d9be6026fe4aff93f?"
                class="img"
              /> -->
              <div class="card-body">
                <div class="divl">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/5732d16956595e4ac8d5eefe4f30cfb3f56f6b281d55dd9d9be6026fe4aff93f?"
                      class="img4"
                    />
                    <div class="div-2q">
                      <div class="div-3q">Projects</div>
                      <div class="div-4q">12</div>
                    </div>
                  </div>
              </div>
            <!-- </div> -->
          </div>
          <div class="col col-lg-3">
            <!-- <div class="card"> -->
              <div class="card-body" >
                <div class="divl">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/5732d16956595e4ac8d5eefe4f30cfb3f56f6b281d55dd9d9be6026fe4aff93f?"
                      class="img4"
                    />
                    <div class="div-2q">
                      <div class="div-3q">Leads</div>
                      <div class="div-4q">12</div>
                    </div>
                  </div>
              </div>
            <!-- <  /div> -->
          </div>
          <div class="col col-lg-3">
            <!-- <div class="card"> -->
              <div class="card-body">
                <div class="divl">
                    <img
                      loading="lazy"
                      src="assets/images/notification.png"
                      class="img9"
                    />
                    <div class="div-2q">
                      <div class="div-3q">Teams</div>
                      <div class="div-4q">12</div>
                    </div>
                  </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="row" style="margin-top: 1rem;">
        <div class="col col-md-5">
        <p class="h4" style="margin-top: 1rem;">Tasks <button type="button" class="btn btn-outline-primary btn-sm">View
            More</button></p>
            </div>
            <div class="col col-md-5">
            <p class="h4" style="margin-top: 1rem;">Task Asigned <button type="button" class="btn btn-outline-primary btn-sm">View
                More</button></p>
        </div>        
        </div>
        <div class="row" style="margin-top: 1rem;">
          <!-- <div class="col col-md-5"> -->
            <!-- <div class="card"> -->
              <div class="card-body">
                <div class="divf">
                    <div class="div-f2">
                      <div class="column7">
                        <div class="div-f3">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8f7d14c57e8045ba6be7edec5cd1d13f6051e82c75e8a14f3e1e1845cd6fc662?"
                            class="imgf"
                          />
                          
                          <div class="div-f4">20</div>
                          <div class="div-f5">
                            <div class="div-f6"></div>
                            <div class="div-f7">Completed</div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="column-5">
                        <div class="div-f8">
                          <div class="div-f9">12</div>
                          <div class="div-f10">
                            <div class="div-f11"></div>
                            <div class="div-f12">Not Started</div>
                          </div>
                          <div class="div-f13">5</div>
                          <div class="div-f14">
                            <div class="div-f15"></div>
                            <div class="div-f16">On Hold</div>
                          </div>
                          <div class="div-f17">10</div>
                          <div class="div-f18">
                            <div class="div-f19"></div>
                            <div class="div-f20">Submitted</div>
                          </div>
                          <div class="div-f21">9</div>
                          <div class="div-f22">
                            <div class="div-f23"></div>
                            <div class="div-f24">In Progress</div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
              </div>
            <!-- </div> -->
          <!-- </div> -->
         
          <div class="col col-md-7">
            <!-- <div class="card"> -->
                 
              <div class="card-body">
                <!-- <div class="div"> -->
                    <div class="div">
                        <div class="div-982">
                          <div class="column">
                            <div class="div-983">
                              <div class="div-984">
                                <div class="div-985">Users</div>
                                <img
                                  loading="lazy"
                                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f492513d98c19a1b097acd04ed11b3a97c95f474cc4d9c6554d76afc78b19cc?"
                                  class="img3"
                                />
                              </div>
                              <div class="div-986">
                                <div class="div-987">GH</div>
                                <div class="div-988">
                                  <div class="div-989">Guy Hawkins</div>
                                  <div class="div-9810">&#64;guy</div>
                                </div>
                              </div>
                              <div class="div-9811">
                                <div class="div-9812">GH</div>
                                <div class="div-9813">
                                  <div class="div-9814">Guy Hawkins</div>
                                  <div class="div-9815">&#64;guy</div>
                                </div>
                              </div>
                              <div class="div-9816">
                                <div class="div-9817">GH</div>
                                <div class="div-9818">
                                  <div class="div-9819">Guy Hawkins</div>
                                  <div class="div-9820">&#64;guy</div>
                                </div>
                              </div>
                              <div class="div-9821">
                                <div class="div-9822">GH</div>
                                <div class="div-9823">
                                  <div class="div-9824">Guy Hawkins</div>
                                  <div class="div-9825">&#64;guy</div>
                                </div>
                              </div>
                              <div class="div-9826">
                                <div class="div-9827">GH</div>
                                <div class="div-9828">
                                  <div class="div-9829">Guy Hawkins</div>
                                  <div class="div-9830">&#64;guy</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column-2">
                            <!-- <div class="div-9831">
                              <div class="div-9832"></div>
                              <div class="div-9833"></div>
                              <div class="div-9834"></div>
                              <div class="div-9835"></div>
                              <div class="div-9836"></div>
                              <div class="div-9837"></div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                  <!-- </div> -->
              </div>
            <!-- </div> -->
          </div>
        </div>
        <p class="h4" style="margin-top: 1rem;">Projects <button type="button" class="btn btn-outline-primary btn-sm">View
            More</button></p>
        <div class="row" style="margin-top: 1rem;">
          <!-- <div class="col col-md-6"> -->
            <div class="div">
                <div class="div-0002">Completed Tasks</div>
                <div class="div-0003">
                  <div class="div-0004">
                    <div class="div-0005">400</div>
                    <div class="div-0006">300</div>
                    <div class="div-0007">200</div>
                    <div class="div-0008">100</div>
                    <div class="div-0009">0</div>
                  </div>
                  <img
                    loading="lazy"
              
                    class="img"
                  />
                </div>
                <div class="div-00010">
                  <div class="div-00011">Jan</div>
                  <div class="div-00012">Feb</div>
                  <div class="div-00013">Mar</div>
                  <div class="div-00014">Apr</div>
                  <div class="div-00015">May</div>
                  <div class="div-00016">Jun</div>
                  <div class="div-00017">Jun</div>
                  <div class="div-00018">Jul</div>
                  <div class="div-00019">Sept</div>
                  <div class="div-00020">Oct</div>
                  <div class="div-00021">Nov</div>
                  <div class="div-00022">Des</div>
                </div>
                <div class="div-00023">
                  <div class="div-00024">
                    <div class="div-00025"></div>
                    <div class="div-00026">DGHR</div>
                  </div>
                  <div class="div-00027">
                    <div class="div-00028"></div>
                    <div class="div-00029">Mahami</div>
                  </div>
                  <div class="div-00030">
                    <div class="div-00031"></div>
                    <div class="div-00032">Dubai Court</div>
                  </div>
                </div>
              </div>
          <!-- </div> -->
          <div class="col col-md-6">
            <!-- <div class="card"> -->
                <div class="div">
                    <div class="div-000000002">Completed Tasks</div>
                    <div class="div-00003">
                      <div class="div-00004">
                        <div class="div-00005">400</div>
                        <div class="div-00006">300</div>
                        <div class="div-00007">200</div>
                        <div class="div-00008">100</div>
                        <div class="div-00009">0</div>
                      </div>
                      <div class="div-000010">
                        <div class="div-000011"></div>
                        <img
                          loading="lazy"
                      
                          class="img"
                        />
                        <div class="div-000012"></div>
                      </div>
                    </div>
                    <div class="div-000013">
                      <div class="div-000014">Jan</div>
                      <div class="div-000015">Feb</div>
                      <div class="div-000016">Mar</div>
                      <div class="div-000017">Apr</div>
                      <div class="div-000018">May</div>
                      <div class="div-000019">Jun</div>
                      <div class="div-000020">Jun</div>
                      <div class="div-000021">Jul</div>
                      <div class="div-000022">Sept</div>
                      <div class="div-000023">Oct</div>
                      <div class="div-000024">Nov</div>
                      <div class="div-000025">Des</div>
                    </div>
                    <div class="div-000026">
                      <div class="div-000027">
                        <div class="div-000028"></div>
                        <div class="div-000029">DGHR</div>
                      </div>
                      <div class="div-000030">
                        <div class="div-000031"></div>
                        <div class="div-000032">Mahami</div>
                      </div>
                      <div class="div-000033">
                        <div class="div-000034"></div>
                        <div class="div-000035">Dubai Court</div>
                      </div>
                    </div>
                  </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="col col-md-2" style="background-color: #efefef;">
        <h5 class="">Hi Ashik</h5>
        <div class="row justify-content-md-center" style="margin-bottom: 2rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsh_jq27AlmSbvjBQfOY6r4nm_3Xsz90baxA&s"
            alt="..." class="rounded-circle" style="width: 3rem;">
        </div>
        <div class="row">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Integrations
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>